  <div class="row justify-content-md-center">
      <div class="col-md-8 col-sm-8">
        <div id="disqus_thread"></div>
      </div>
    </div>
      <script>
      var disqus_config = function () {
        this.page.url = '{{ site.url }}{{ site.baserul }}{{ page.url }}';
        this.page.identifier = '{{ page.url }}';
      };
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://hurielblog.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
      </noscript>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>